.navbar {
  height: 10vh;
  display: flex;
  position: sticky;
  width: 100%;
  background-color: rgba(79, 39, 191, 1);
}

.leftContent,
.rightContent {
  display: flex;
  width: 50%;
  align-items: center;
}

.leftContent {
  justify-content: flex-start;
  gap: 24px;
  margin-left: 32px;
}
.rightContent {
  justify-content: flex-end;
  gap: 16px;
  margin-right: 32px;
}

.textLogo {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
